.card {
  text-align: center;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  max-width: 282px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  height: 18px;
  width: 21px;
  background: transparent url(../images/like.svg) center no-repeat;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
