.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  grid-gap: 20px 18px;
  padding: 0;
  padding-top: 51px;
  margin: auto;
  max-width: 922px;
}

.cards {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .cards__list {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-right: 19px;
    justify-content: start;
  }

  .cards {
    padding-left: 80px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    padding: 0;
  }
}
