.locations {
  padding: 0;
  margin: 0;
}

.card {
  text-align: center;
}

.locations__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  grid-gap: 20px 18px;
  padding: 0;
  padding-top: 51px;
  justify-content: center;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  max-width: 282px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  height: 18px;
  width: 21px;
  background: transparent url(../images/like.svg) center no-repeat;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (ma-width: 320px) {
  .locations__list {
    padding-top: 215px;
  }
}
