.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: black;
  z-index: 15;
  border-radius: 1px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 19px;
  padding-right: 19px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  width: 358px;
  height: 330px;
  padding-left: 36px;
  padding-right: 36px;
}

.modal__container_popup {
  position: relative;
  margin: auto;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #fff;
}

.modal__form {
  margin: 0;
  margin-top: 54px;
}

.modal__close {
  position: absolute;
  background-image: url(../images/CloseIcon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  top: -43px;
  right: -43px;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__header {
  margin: 0;
  padding-top: 34px;
}

.modal__button {
  background-color: black;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: white;
  width: 358px;
  height: 50.15px;
  margin-top: 48px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__input {
  margin-bottom: 13.26px;
  width: 358px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: black;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 595px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    padding-right: 65px;
  }

  .modal__input {
    width: 238px;
    height: 27px;
    margin-bottom: 13px;
  }

  .modal__header {
    font-size: 18px;
    line-height: 21.78px;
    margin-left: 22px;
  }

  .modal__form {
    margin-left: 22px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
