.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: auto;
}

.page__content {
  margin-right: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 620px) {
  .page__content {
    margin: auto;
  }
}
