.profile {
  max-width: 880px;
  max-height: 120px;
  margin-top: 114px;
  display: flex;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button";
  grid-template-columns: minmax(auto, 375px) auto;
  margin-left: 30px;
  margin-top: 22px;
  margin-bottom: 21px;
  align-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-left: 18px;
  background: transparent url(../images/edit.svg) center no-repeat;
  border-radius: 1px;
  border-color: white;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: 165px;
  margin-top: 35px;
  margin-bottom: 14px;
  background: transparent url(../images/add.svg) center no-repeat;
  border-radius: 2px;
  border-style: solid;
  border-color: white;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 282px;
    justify-content: center;
    margin-bottom: 36px;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 282px;
    margin-bottom: 36px;
    margin-left: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile__subtitle {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile__add-button {
    margin: auto;
    width: 282px;
    margin-left: 19px;
  }

  .profile__edit-button {
  }
}
